body {
  font-family: "Open Sans", sans-serif !important;
}
.text-slanted {
  font-family: "Courgette", cursive;
}
.text-orange {
  color: #f15025;
}
.letter-spacing {
  letter-spacing: 0.5rem;
}
.header-hero,
.default-hero {
  min-height: calc(100vh);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/homeBcg.jpeg") center/cover no-repeat;
}

.default-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./images/defaultBcg.jpeg") center/cover no-repeat;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #f15025; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}